body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: "Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

footer {
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

/* Favicon */
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">